# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/
ENV/
.venv/
.env

# Environment variables
.env

# Logs
*.log

# IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

